POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=test_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
AIRFLOW_ADMIN_FIRSTNAME=rtest
AIRFLOW_ADMIN_USER=test
AIRFLOW_ADMIN_LASTNAME=test1
AIRFLOW_ADMIN_EMAIL=test@gmail.com
AIRFLOW_ADMIN_PASSWORD=password
AIRFLOW_DB=airflow_db